@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10% ;
    margin-right: 10%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title{
    font-size: 72px;
    font-weight: 900;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg,
     rgba(255, 255, 255, 1) 70%,
     rgba(255, 255, 255, 0) 120%);
     -webkit-text-fill-color: transparent;
     background-clip: text;
}
.trabajo{
    margin-top: 2px;
    margin-bottom: 33px;
    color: #e1d9d9;
    font-size: larger;
}

.trabajo a{
    color: #e7631e;
}

.description{
    font-size: 25px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}
/*----Inicio btn CV---*/
.contactBtn {
    text-decoration: none;
    background-color: #e7631e;
    border: 1px solid #e7631e;
    color: var(--color-text);
    border-radius: 100px ;
    font-size: larger;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 2%;
}
.contactBtn a{
    text-decoration: none;
    color: white;
}

.contactBtn:hover{
    filter: drop-shadow(0px 2px 3px #e7631e);
}
/*----Fin BTN CV----*/


.contactoBtn img{
    width: 3%;
    margin: 2%;;
}
.contactoBtn a{
 text-decoration: none !important;
}

.contactoBtn img:hover{
    filter: drop-shadow(0px 2px 10px #e7631e);
}

.heroImg{
    width: 35%;
    border-radius: 50%;
    z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, -10px);
    }   
}

.topBlur{
    position: absolute;
    width: 50vh;
    height: 50vh;
    min-width: 350px;
    min-width: 350px;
    top: 128px;
    left: -10vh;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur{
    position: absolute;
    width: 70vh;
    height: 50vh;
    min-width: 350px;
    min-width: 250px;
    top: 246px;
    right: -25vh;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}


@media screen and (max-width: 830px)  {
    .container{
        flex-direction: column-reverse;
    }

    .content{
        align-items: center;
    }

    .contactoBtn img{
        width: 10%;
    }
    .contactoBtn a{
        text-decoration: none;
    }
    .contactoBtn img:hover{
        filter: drop-shadow(0px 2px 10px #e7631e);
    }
}